@import '../theme.module';
.slider-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  height: 100%;

  .text-card {
    transform: translateY(20vh);
    transition: transform 0.7s;

    @include mqm {
      transform: translateY(0);
    }
  }

  &:hover :is(.text-card, .text-card h5) {
    transform: translateY(0);
  }

  &_border-line {
    width: 120px;
    height: 2px;
    border-radius: 2px;
    background-color: $grid-middle;
  }

  .text-card h5 {
    transform: translateY(100%);
    transition: transform 0.7s;
  }
}

.home {
  .home-title {
    @apply font-light md:font-thin text-center py-20 text-[55px];
    z-index: 4;

    span {
      @apply font-normal;
    }
  }

  .home-container-fluid {
    @apply relative;
  }

  .home-container {
    @apply container relative;
  }

  .home-img-card {
    z-index: 3;
    flex-basis: 40%;

    h5 {
      font-weight: 500;
      @apply mt-5;
    }

    h3 {
      @apply text-2xl font-light mt-3;
    }
  }

  .big-text {
    color: #f0f0f0;
    font-size: 230px;
    position: absolute;
    z-index: 2;
  }

  // Fluid Containers
  .home-container-fluid-1 {
    margin-top: 200px;
  }

  .home-container-fluid-3 {
    margin-top: -200px;
  }

  // Big Texts
  .big-text-1 {
    top: -350px;
    left: 0;
  }

  .big-text-2 {
    top: -150px;
    right: 0;
  }

  .big-text-3 {
    bottom: 0;
    left: 0;
  }

  // Dot Images
  .home-dot-img-1 {
    @apply absolute;
    top: -250px;
    left: 0;
  }

  .home-dot-img-2 {
    @apply absolute;
    top: 20px;
    right: 0;
  }

  .home-dot-img-3 {
    @apply absolute;
    top: 0;
    left: 0;
    rotate: 90deg;
  }

  .home-dot-img-4 {
    @apply absolute;
    top: calc(100%);
    right: 0;
    transform-origin: top right;
    rotate: 90deg;
  }

  // Image Cards
  .home-img-card-1 {
    flex-basis: 47%;
    margin-top: -120px;
    @apply ml-3;
  }

  .home-img-card-2 {
    flex-basis: 38%;
    @apply mr-3;
  }

  .home-img-card-3 {
    flex-basis: 85%;
    @apply ml-3 mt-20;
  }

  .home-img-card-4 {
    flex-basis: 50%;
    @apply mr-3 ml-auto;
  }
}
