$heading: #2f2f2f;
$text: #565656;
$primary: #2f2f2f;
$bg: #232323;
$gray: #f8f5f5;
$red: #ff0000;
$white: #ffffff;
$black: #000;
$grid: #e0e3e4;
$grid-middle: #bababa;
$hover: #192a56;

$transition-default: all 0.3s ease-in-out;

$xl: 'only screen and (min-width:1200px)';
$lg: 'only screen and (min-width:992px) and (max-width:1199px)';
$md: 'only screen and (min-width:768px) and (max-width:991px)';
$sm: 'only screen and (min-width:576px) and (max-width:767px)';
$xs: 'only screen and (max-width:767px)';
$xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';
