$text: #565656;
$primary: #2f2f2f;
$bg: #232323;
$gray: #f8f5f5;
$red: #ff0000;
$white: #ffffff;
$black: #000;
$grid: #e0e3e4;
$grid-middle: #bababa;
$hover: #192a56;

$transition-default: all 0.3s ease-in-out;

$sm: 'only screen and (min-width:576px)';
$md: 'only screen and (min-width:768px)';
$lg: 'only screen and (min-width:992px)';
$xl: 'only screen and (min-width:1200px)';
$xxl: 'only screen and (min-width:1400px)';

@mixin mq($property) {
  @media only screen and (min-width: $property) {
    @content;
  }
}

@mixin mqm {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}
